@model Vidly.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Label(Model.Name)</h2>
<ul>

    <li>
        Membership TYpe: @Html.Label(Model.MemberShipType.Name)
    </li>
    @if (Model.BirthDate != null)
    {
        <li>Birthdate : @String.Format("{0:d}", Model.BirthDate)</li>
    }
</ul>

